.banner {
    background-image: url(../images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    align-items: center;
    border-radius: 16px;
}

header {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.banner-text {
    padding: 170px 344px;
}

#para {
    font-size: 72px;
    font-weight: 900;
}