     /* first section complete */


     .banner {
         background-image: url(../images/Banner\ Image.png);
         background-image: url(../images/Banner\ Image.png), linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
         width: 1320px;
         height: 600px;
         margin: 50px auto;
         align-items: center;
         border-radius: 16px;
     }

     header {
         color: #FFF;
         text-align: center;
         font-size: 32px;
         font-weight: 400;
     }

     .banner-text {
         padding: 170px 344px;
         font-family: Merriweather;
     }

     #para {
         font-size: 72px;
         font-weight: 900;
     }

     /* banner (section 2) */


     .banner2-title {
         color: #F00;
         font-size: 88px;
         font-weight: 700;
         font-family: Inter;

     }

     .banner2-title2 {
         color: #F00;
         font-size: 24px;
         font-weight: 500;
         font-family: Inter;
     }

     .banner2-title3 {
         color: #070211;
         font-size: 48px;
         font-style: normal;
         font-family: Inter;
     }

     .banner2-text {
         text-align: center;
         margin-bottom: 20px;
         margin-top: 70px;
     }

     .banner2-img {
         display: block;
         margin: auto;
         width: 802.9px;
         height: 500px;
     }

     /* banner 3 section */

     .banner3 {
         background-image: url(../images/Vectorrr.png);
         background-image: url(../images/Vectorrr.png), linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
         width: 1320px;
         height: 600px;
         display: block;
         margin: auto;
         margin-top: 120px;
     }

     .banner3-title {
         color: #FFF;
         font-family: Merriweather;
         display: block;
         padding-left: 126px;
         padding-top: 126px;
         padding-bottom: 30px;
         font-size: 64px;
         font-weight: 900;
         letter-spacing: 7.04px;
         width: 642px;
     }

     .banner3-title-description {
         color: #FFF;
         font-family: Inter;
         width: 697px;
         font-size: 18px;
         font-weight: 400;
         line-height: 30px;
         padding-left: 126px;
     }

     .btn-primary {
         font-size: 20px;
         font-family: Inter;
         text-transform: uppercase;
         padding-left: 140px;
         padding-top: 26px;
     }

     .join {
         background: darkorange;
         padding: 5px;
         border-radius: 5px;
         border-color: white;
         box-shadow: 2px 2px 2px springgreen;
         cursor: pointer;
         font-weight: 700;
         color: #FFF;
     }

     .join:hover {
         color: rgb(0, 0, 0);
     }

     .left-img {
         display: flex;
         flex-direction: column;
         padding-left: 1002px;
     }


     /* banner 4 section */

     .banner4 {
         background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
         margin: auto;
         padding: auto;
         padding-top: 200px;
         margin-top: 400px;
         border-radius: 16px;
         text-align: center;
         font-family: Inter;
         font-size: 32px;
         font-weight: 600;
         width: 1320px;
         height: 600px;
     }

     .Place {
         color: #F00;
     }

     /* Section 1 */

     .banner5 {
         text-align: center;
         margin-top: 120px;
     }

     .banner5-title {
         color: #070211;
         font-family: Inter;
         font-size: 24px;
         font-style: normal;
         font-weight: 500;
     }

     .banner5-title2 {
         color: #070211;
         font-family: Merriweather;
         font-size: 72px;
         font-weight: 900;
     }

     .HOLIDAY {
         color: #F00;
         font-family: Merriweather;
         font-size: 72px;
         font-weight: 900;
     }

     .banner5-title-description {
         color: rgba(7, 2, 17, 0.60);
         text-align: center;
         font-family: Inter;
         font-size: 20px;
         font-weight: 500;
         height: 96px;
     }


     /* banner6 section */

     .banner6 {
         width: 1320px;
         height: 600px;
         margin: auto;
         margin-top: 200px;
     }

     .banner6-text {}

     #banner6-title {
         color: #F00;
         font-family: Inter;
         font-size: 24px;
         font-weight: 500;
     }

     #banner6-title2 {
         color: #070211;
         font-family: Merriweather;
         font-size: 48px;
         font-weight: 900;
     }

     #banner6-title-description {
         color: rgba(7, 2, 17, 0.60);
         font-family: Inter;
         font-size: 20px;
         font-weight: 400;
         line-height: 32px;
     }


     .portfolio-img-section1 {
         display: flex;
         margin: auto;
         align-items: center;
     }

     .portfolio-img-section2 {
         display: flex;
         margin: auto;
         margin-bottom: auto;
     }

     /* Newsletter section */

     .container {
         justify-items: center;
         margin-top: 800px;
     }

     .newsletter {
         width: 1320px;
         height: 600px;
         margin: auto;
         margin-top: 800px;

     }

     .bg {
         background: ;
         border-radius: 16px;
         background: rgba(255, 0, 0, 0.05);
         width: 1320px;
         height: 616px;
     }

     .c-img {
         width: 150px;
         height: 150px;
         flex-shrink: 0;
         padding-top: 100px;
     }

     .newsletter-title {
         color: #070211;
         font-family: Merriweather;
         font-size: 48px;
         font-weight: 900;
     }

     .Newsletter-para {
         color: rgba(7, 2, 17, 0.60);
         font-family: Inter;
         font-size: 20px;
         font-weight: 400;
     }

     .Subscribe-btn {
         width: 648px;
         height: 72px;
     }

     .red {
         width: 210px;
         height: 72px;
         border-radius: 0px 50px 50px 0px;
         background: #F00;
     }

     .subscribe-text {
         color: #FFF;
         text-align: center;
         font-family: Inter;
         font-size: 20px;
         font-weight: 600;
     }

     .newsletter form input {
         width: 210px;
         height: 72px;

     }

     .input-tab {
         width: 200px;
         height: 70px;

     }

     /* Footer section  */
     

     .footer-container {
         display: flex;
         margin-top: 100px;
         background-color: #070211;
         justify-content: space-between;
         padding: 140px auto;
     }

     .place {
         color: #FFF;
         font-family: Inter;
         font-size: 24px;
         font-weight: 500;
         line-height: 40px;
         padding: 60px;
     }

     .connect-links {
         color: #FFF;
         font-family: Inter;
         font-size: 24px;
         font-weight: 500;
         text-decoration: none;
         padding: 60px;
     }

     .social-icon {
         background-color: #070211;
         align-items: center;
         padding-left: 640px;
     }

     .small {
         background-color: #070211;
         color: #FFF;
         font-family: Inter;
         font-size: 24px;
         font-weight: 500;
         display: flex;
         justify-content: space-between;
         padding: 60px;
     }
